.App {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    height: 100vh;
    backdrop-filter: blur(50px);
}

body {
    height:100vh;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    background-image: url(leaves.jpg);
    
}

.title {
    background-color: transparent;
    backdrop-filter: blur(30px);
    padding: 20px;
    width:100%;
    margin-top: 20px;   
    text-align: center;
}

p{
    background-color: transparent;
    backdrop-filter: blur(30px);
    padding: 20px;
    width:100%;
    margin-top: 20px;   
    text-align: center;
}

#title {
    color: #ffffff;
    font-family: 'comic sans ms';
    font-size:xx-large;
}